/* ---------- root variables ---------- */
:root {
  --main-text-color: #444;
  --secondary-text-color: #00587a;
}


/* ---------- general styling ---------- */

html,
body {
  max-width: 400px;
  max-height: 900px;
  margin: 0 auto;
}

/* FONT FAMILY */
@font-face {
  font-family: "Visit Denmark Regular";
  src: url("/fonts/VisitDenmark-Regular.otf");
}
@font-face {
  font-family: "Visit Denmark Bold";
  src: url("/fonts/VisitDenmark-Bold.otf");
}
@font-face {
  font-family: "Visit Denmark Extra Bold";
  src: url("/fonts/VisitDenmark-ExtraBold.otf");
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

