/* ---------- root variables ---------- */

/* ---------- general styling ---------- */

html,
body {
  max-width: 400px;
  max-height: 900px;
  margin: 0 auto;
}


/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}


